USE [QLKS_IS201]
GO
/****** Object:  Table [dbo].[CHITIET_HDAU]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDAU](
	[MA_CTHDAU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[SOLUONG_MH] [int] NULL,
	[TRIGIA_CTHDAU] [money] NULL,
	[THOIGIANLAP_CTHDAU] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HDGU]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDGU](
	[MA_CTHDGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_LUOTGU] [int] NOT NULL,
	[TRIGIA_CTHDGU] [money] NULL,
	[THOIGIANLAP_CTHDGU] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HDLT]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDLT](
	[MA_CTHDLT] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_PHONG] [int] NOT NULL,
	[THOIGIANNHAN_PHONG] [smalldatetime] NULL,
	[THOIGIANTRA_PHONG] [smalldatetime] NULL,
	[TRIGIA_CTHDLT] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_NV] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[THOIGIANLAP_HD] [smalldatetime] NULL,
	[TINHTRANG_HD] [bit] NULL,
	[TRIGIA_HD] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_KH] [nvarchar](255) NULL,
	[SODIENTHOAI_KH] [nvarchar](15) NULL,
	[CMND_KH] [nvarchar](12) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIGIATUI]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGIATUI](
	[MA_LOAIGU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIGU] [nvarchar](255) NULL,
	[DONGIA_LOAIGU] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MA_LP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LP] [nvarchar](255) NULL,
	[DONGIA_LP] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUOTGIATUI]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUOTGIATUI](
	[MA_LUOTGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAIGU] [int] NOT NULL,
	[SOKILOGRAM_LUOTGU] [int] NULL,
	[NGAYBATDAU_LUOTGU] [date] NULL,
	[NGAYKETTHUC_LUOTGU] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MA_MH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MH] [nvarchar](255) NULL,
	[DONGIA_MH] [money] NULL,
	[NGAYNHAP_MH] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[MA_TK] [int] NOT NULL,
	[HOTEN_NV] [nvarchar](255) NULL,
	[GIOITINH_NV] [bit] NULL,
	[NGAYSINH_NV] [date] NULL,
	[SODIENTHOAI_NV] [nvarchar](15) NULL,
	[CHUCVU_NV] [nvarchar](30) NULL,
	[DIACHI_NV] [nvarchar](255) NULL,
	[NGAYVAOLAM_NV] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MA_PHONG] [int] NOT NULL,
	[MA_LP] [int] NOT NULL,
	[TINHTRANG_PHONG] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/11/2019 8:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MA_TK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP_TK] [nvarchar](32) NULL,
	[MATKHAU_TK] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CHITIET_HDAU] ON 

INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (34, 16, 2, 1, 9000.0000, CAST(0xA85C0029 AS SmallDateTime))
INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (35, 16, 7, 1, 12000.0000, CAST(0xA85C0029 AS SmallDateTime))
INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (36, 16, 56, 3, 36000.0000, CAST(0xA85C0029 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[CHITIET_HDAU] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDGU] ON 

INSERT [dbo].[CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (7, 16, 7, 120000.0000, CAST(0xA85C0029 AS SmallDateTime))
INSERT [dbo].[CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (8, 18, 8, 400000.0000, CAST(0xA85C002A AS SmallDateTime))
INSERT [dbo].[CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (9, 19, 9, 260000.0000, CAST(0xA88A0042 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[CHITIET_HDGU] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDLT] ON 

INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (16, 16, 101, CAST(0xA85C0028 AS SmallDateTime), CAST(0xA85C002B AS SmallDateTime), 150000.0000)
INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (17, 17, 205, CAST(0xA85C0028 AS SmallDateTime), CAST(0xA85C002B AS SmallDateTime), 80000.0000)
INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (18, 18, 309, CAST(0xA85C0028 AS SmallDateTime), CAST(0xA85C002B AS SmallDateTime), 180000.0000)
SET IDENTITY_INSERT [dbo].[CHITIET_HDLT] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (16, 2, 35, CAST(0xA85C0028 AS SmallDateTime), 1, 707000.0000)
INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (17, 2, 34, CAST(0xA85C0028 AS SmallDateTime), 1, 494000.0000)
INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (18, 2, 30, CAST(0xA85C0028 AS SmallDateTime), 1, 852000.0000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (36, N'Vũ Thị Huyền My', N'01243878090', N'123456789')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (37, N'Trần Đình Tùng', N'0905654098', N'222345678')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (38, N'Nguyễn Văn Thanh', N'01205676567', N'023034045')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF

SET IDENTITY_INSERT [dbo].[LUOTGIATUI] ON 

INSERT [dbo].[LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (7, 1, 6, NULL, NULL)
INSERT [dbo].[LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (8, 2, 0, CAST(0xB73D0B00 AS Date), CAST(0xBF3D0B00 AS Date))
INSERT [dbo].[LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (9, 1, 13, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LUOTGIATUI] OFF

INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (101, 5, N'Đang thuê')
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (102, 1, N'Trống')
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (103, 1, N'Đang thuê')

/****** Object:  Index [PK_CHITIET_HDAU]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  CONSTRAINT [PK_CHITIET_HDAU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDGU]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[CHITIET_HDGU] ADD  CONSTRAINT [PK_CHITIET_HDGU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDLT]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  CONSTRAINT [PK_CHITIET_HDLT] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADON]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIGIATUI]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[LOAIGIATUI] ADD  CONSTRAINT [PK_LOAIGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LOAIGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LUOTGIATUI]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[LUOTGIATUI] ADD  CONSTRAINT [PK_LUOTGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LUOTGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MATHANG]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHONG]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 12/11/2019 8:02:49 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  DEFAULT ((1)) FOR [SOLUONG_MH]
GO
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDAU]
GO
ALTER TABLE [dbo].[CHITIET_HDGU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDGU]
GO
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  DEFAULT (getdate()) FOR [THOIGIANNHAN_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDLT]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [THOIGIANLAP_HD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TINHTRANG_HD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TRIGIA_HD]
GO
ALTER TABLE [dbo].[LOAIGIATUI] ADD  DEFAULT ((0)) FOR [DONGIA_LOAIGU]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT ((0)) FOR [DONGIA_LP]
GO
ALTER TABLE [dbo].[LUOTGIATUI] ADD  DEFAULT ((1)) FOR [SOKILOGRAM_LUOTGU]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [DONGIA_MH]
GO
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [DF_MATHANG_NGAYNHAP_MH]  DEFAULT (getdate()) FOR [NGAYNHAP_MH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (N'Nhân viên') FOR [CHUCVU_NV]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'Trống') FOR [TINHTRANG_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG] FOREIGN KEY([MA_MH])
REFERENCES [dbo].[MATHANG] ([MA_MH])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDAU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET_HDAU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT] FOREIGN KEY([MA_LUOTGU])
REFERENCES [dbo].[LUOTGIATUI] ([MA_LUOTGU])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDGU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET_HDGU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONG] ([MA_PHONG])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDLT_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET_HDLT_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACHHANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN]
GO
ALTER TABLE [dbo].[LUOTGIATUI]  WITH CHECK ADD  CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT] FOREIGN KEY([MA_LOAIGU])
REFERENCES [dbo].[LOAIGIATUI] ([MA_LOAIGU])
GO
ALTER TABLE [dbo].[LUOTGIATUI] CHECK CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAIKHOAN] ([MA_TK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON] FOREIGN KEY([MA_LP])
REFERENCES [dbo].[LOAIPHONG] ([MA_LP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON]
GO
